include mixins

block variables
- let mainTitle = "Название проекта";

doctype html
html( lang="ru" )
  head
    meta( charset="UTF-8" )
    title #{mainTitle} !{title && "| " + title}
    meta( name="viewport" content="width=device-width, initial-scale=1.0" )
    link( rel="preload" href="fonts/font-name.woff2" as="font" type="font/woff2" crossorigin )
    link( rel="stylesheet" href="css/style.min.css" )
  body
    block header

    block content

    block footer

    script( src="js/vendor.min.js" )
    script( src="js/script.min.js" )
